<!DOCTYPE html>
<html>
<head>
  <title>reShapr Elicitation request</title>
  <meta charset="UTF-8">
  {#bundle /}
</head>
<body>
<nav class="navbar sticky-top bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/static/assets/reshapr-icon.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
      <span class="ms-2">{#insert title/}</span>
    </a>
  </div>
</nav>
<div class="container-fluid mt-4 ps-4 pe-4">
  {#insert /}
</div>
</body>
</html>